body {

    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
    color: rgb(51, 48, 48);
    background-color: #A7E6FF;
}

#container {
    display: flex;
    align-items: center;
    margin: 3rem;
    font-size: 1rem;
    border: solid 0.5px #050C9C;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3ABEF9;
    box-shadow: 4px 3px 5px 0px rgba(115,115,115,0.88);
-webkit-box-shadow: 4px 3px 5px 0px rgba(115,115,115,0.88);
-moz-box-shadow: 4px 3px 5px 0px rgba(115,115,115,0.88);
}

#post {
    text-align: left;
    padding: 2rem;
    color: #313131cf;
}

#post .h2 {
    text-align: center;
    background-color: #050C9C;
}

#cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #3572EF;
    border-radius: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer{
    background-color: #3572EF;
    color: white;
    padding: 1px;
}
#cabecera img{
    width: 3rem;
    margin-right: 1.1rem;
}